# QAVideos API spec in YAML
swagger: '2.0'
info:
  title: QAVideos API
  description: QAVideos API supports QAVideos, a stackoverflow with questions and answers as videos.
  version: "1.0.0"
host: api.qavideos.com
schemes:
  - https
# will be prefixed to all paths
basePath: /v1
produces:
  - application/json
paths:
  /questions:
    get:
      summary: Questions
      description: |
        The Questions endpoint returns questions.
      parameters:
        - name: id
          in: query
          description: question id.
          required: false
          type: number
          format: integer
        - name: user id
          in: query
          description: user id.
          required: false
          type: number
          format: integer
      tags:
        - Questions
      responses:
        200:
          description: An array of questions
          schema:
            type: array
            items:
              $ref: '#/definitions/Question'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /answers:
    get:
      summary: Answers
      description: |
        The Answers endpoint returns answers.
      parameters:
        - name: id
          in: query
          description: answer id.
          required: false
          type: number
          format: integer
        - name: user id
          in: query
          description: user id.
          required: false
          type: number
          format: integer
      tags:
        - Answers
      responses:
        200:
          description: An array of answers
          schema:
            type: array
            items:
              $ref: '#/definitions/Answer'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /comments:
    get:
      summary: Comments
      description: |
        The Comments endpoint returns comments.
      parameters:
        - name: id
          in: query
          description: answer id.
          required: false
          type: number
          format: integer
        - name: user id
          in: query
          description: user id.
          required: false
          type: number
          format: integer
      tags:
        - Comments
      responses:
        200:
          description: An array of answers
          schema:
            type: array
            items:
              $ref: '#/definitions/Answer'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /users:
    get:
      summary: Users
      description: |
        The Users endpoint returns an array of users.
      parameters:
        - name: id
          in: query
          description: Unique Identifier of the user.
          required: false
          type: number
          format: integer
        - name: username
          in: query
          description: Username.
          required: false
          type: string
        - name: answerId
          in: query
          description: Unique Identifier of the Answer.
          required: false
          type: number
          format: integer
        - name: questionId
          in: query
          description: Unique Identifier of the Question.
          required: false
          type: number
          format: integer
      tags:
        - Users
      responses:
        200:
          description: An array of users
          schema:
            type: array
            items:
              $ref: '#/definitions/UserExt'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /videos:
    get:
      summary: Videos
      description: Videos by the user.
      parameters:
        - name: questionId
          in: query
          description: Unique Identifier of the Question.
          required: false
          type: string
        - name: answerId
          in: query
          description: Unique identifier of the Answer.
          required: true
          type: number
          format: integer
        - name: id
          in: query
          type: number
          format: integer
          description: Unique identifier of the Video.
        - name: tag
          in: query
          type: string
          description: Tag associated with the video.
        - name: category
          in: query
          type: string
          description: Category associated with the video.
      tags:
        - Videos
      responses:
        200:
          description: An array of videos
          schema:
            type: array
            items:
              $ref: '#/definitions/Video'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  UserExt:
    type: object
    properties:
      username:
        type: string
        description: Username of the dancer.
      questions:
        $ref: '#/definitions/Question'
        description: An array of questions by the user.
      answers:
        $ref: '#/definitions/Answer'
        description: An array of answers by the user.
  Question:
    type: object
    properties:
      id:
        type: integer
        format: int32
        description: Unique identifier representing the question.
      question:
        type: string
        description: Question.
      answer:
        $ref: '#/definitions/Answer'
        description: Answer to the question.
      video:
        $ref: '#/definitions/Video'
        description: Video of the question.
      user:
        $ref: '#/definitions/UserExt'
        description: User who submitted the question.
      comments:
        $ref: '#/definitions/Comment'
        description: Comments to the question.
  Answer:
    type: object
    properties:
      id:
        type: integer
        format: int32
        description: Unique identifier representing the answer.
      answer:
        type: string
        description: Answer.
      question:
        $ref: '#/definitions/Question'
        description: Question to the answer.
      video:
        $ref: '#/definitions/Video'
        description: Video of the answer.
      user:
        $ref: '#/definitions/UserExt'
        description: User who provided the answer.
      comments:
        $ref: '#/definitions/Comment'
        description: Comments to the answer.
  Comment:
    type: object
    properties:
      id:
        type: integer
        format: int32
        description: Unique Identifier of the comment.
      comment:
        type: string
        description: Comment.
      user:
        $ref: '#/definitions/UserExt'
        description: User.
  Video:
    type: object
    properties:
      id:
        type: integer
        format: int32
        description: Unique Identifier of the video.
      title:
        type: string
        description: Title of the video.
      summary:
        type: string
        description: Summary of the video.
      youtube_url:
        type: string
        description: Youtube URL of the video.
      category:
        type: string
        description: Category of the video.
      tags:
        type: string
        description: A comma separated string of tags of the video.
      questionId:
        type: number
        format: integer
        description: Unique Identifier of the Question.
      answerId:
        type: number
        format: integer
        description: Unique Identifier of the Answer.
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
